<!DOCTYPE html>
<html>
<head>
	<title>Apply</title>	
	<link rel="stylesheet" type="text/css" href="../../public/css/apply.css">
	<link rel="stylesheet" type="text/css" href="../../public/css/blog.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header>
		<div class="container">
			<img src="../../public/svg/Photos/logo_iitu.png" id="logo_iitu">
			<table class="sha">
				<tr>
					<th>Call Us</th>
					<th>E-mail</th>
					<th>Location</th>
				</tr>
				<tr>
					<td>+7 (705) 867 78 78</td>
					<td>iitu@iitu.kz</td>
					<td>Almaty, Zhandosova</td>
				</tr>
			</table>

			<nav>
				<ul class="nav">
					<li class="NavList"><a href="home.html">Home</a></li>
					<li class="NavList"><a href="study.html">Study Program</a></li>
					<li class="NavList"><a href="blog.html">Blog</a></li>
					<li class="NavList"><a href="aboutUs.html">About Us</a></li>
					<li class="NavList" style="float:right;"><a class="apply" href="apply.html">Apply</a></li>
				</ul>
			</nav>
		</div>
	</header>
	
	<div class="main">
		<div class="container">
			<h2>Welcome to IITU, where dream comes true</h2>
		</div>
		<div class="container6">
			<p></p>
		</div>
		<div class="container">
			<div class="container7">
				<h3>Ideas and perspectives you wont find anywhere else.</h3>
				<p>Save this finished document and upload it to the LMS by 11:59 pm the evening before the next class.  
					Not necessary to upload source code if you had time to compile and test your function. Make sure you 
					have added your name to the space provided at the top of this document and renamed the document to 
					include your Student ID.</p>
			</div>
		</div>
		<div class="container8">
			<div class="container">
				<div class="container9">
					<h3>A customizable program experience, made just for you.</h3>
					<p>Save this finished document and upload it to the LMS by 11:59 pm the evening before the next class.  
						Not necessary to upload source code if you had time to compile and test your function. Make sure you 
						have added your name to the space provided at the top of this document and renamed the document to 
						include your Student ID.</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="rob_02">
				<h3>A customizable program experience, made just for you.</h3>
				<p>Save this finished document and upload it to the LMS by 11:59 pm the evening before the next class.  
					Not necessary to upload source code if you had time to compile and test your function. Make sure you 
					have added your name to the space provided at the top of this document and renamed the document to 
					include your Student ID.</p>
			</div>
			<div class="rob_01">
				<img src="../../public/svg/Photos/rob2.png">
			</div>
		</div>


		<div class="Feedback">
			<img src="../../public/svg/Photos/text_iitu.png" id="text_iitu">
			<div class="container">
			<div class="feedback_form">
				<h2>Feedback</h2>
				<p>Leave your contact, we call you back</p>
				<form>
					<input type="text" name="name" placeholder="Name"><br><br>
					<input type="num" name="tel" placeholder="Telephone"><br><br>
					<button name="click">Leave a contact</button>
				</form>
			</div>
			</div>
		</div>
		
	</div>
	

	<footer>
		<div class="container">
			<div class="f_content">
				<table class="foo">
					<tr>
						<th class="foo_1" style="padding-left: 0px; ">International Information Technology University</th>
						<th class="foo_1"><a href="">Study Program</a></th>
						<th class="foo_1"><a href="">Pages</a></th>
						<th class="foo_1"><a href="">Contact Us</a></th>
					</tr>
					<tr>
						<td class="foo_2" style="padding-left: 0px;">Lorem ipsum continue the text is provided more vocabulary learning Lorem ipsum continue the text is provided more vocabulary</td>
						<td class="foo_2"><a href="">Software Development</a></td>
						<td class="foo_2"><a href="">Homes</a></td>
					 	<td class="foo_2">If you have trouble, write to us</td>
					</tr>
					<tr>
						<td class="foo_2"></td>
						<td class="foo_2"><a href="">Computer Science</a></td>
						<td class="foo_2"><a href="">About Us</a></td>
						<td class="foo_2"><a href="" style="color: #FF8D95">email: suport@iitu.kz</a></td>
					</tr>
					<tr>
						<td class="foo_2"></td>
						<td class="foo_2"><a href="">Finance</a></td>
						<td class="foo_2"><a href="">Study Program</a></td>
					</tr>
					<tr>
						<td class="foo_2"></td>
						<td class="foo_2"><a href="">Management</a></td>
						<td class="foo_2"><a href="">Blog</a></td>
					</tr>
					<tr>
						<td class="foo_2"></td>
						<td class="foo_2"><a href="">Radio & Telecomunnication</a></td>
						<td class="foo_2"><a href="">Support</a></td>
					</tr>
				</table>
			</div>
		</div>
	</footer>
</body>
</html>