<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../../public/css/home.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans" />
</head>
<body>
	<header>
		<div class="container">
			<img src="../../public/svg/Photos/logo_iitu.png" id="logo_iitu">
			
			<table class="sha">
				<tr>
					<th>Call Us</th>
					<th>E-mail</th>
					<th>Location</th>
				</tr>
				<tr>
					<td>+7 (705) 867 78 78</td>
					<td>iitu@iitu.kz</td>
					<td>Almaty, Zhandosova</td>
				</tr>
			</table>
			<nav>
				<ul class="nav">
					<li class="NavList"><a href="#home" style="color: #FF8D95;">Home</a></li>
					<li class="NavList"><a href="#s_p">Study Program</a></li>
					<li class="NavList"><a href="#blog">Blog</a></li>
					<li class="NavList"><a href="#about us">About Us</a></li>
					<li class="NavList" style="float:right;"><a class="apply" href="apply">Apply</a></li>
				</ul>
			</nav>
			<div>
				<h1>Study with us</h1>
				<p class="text_1">Our university is the modern way to learn programming</p>
				<center><a href="#apply" class="apply1">APPLY</a></center>
			</div>
		</div>

	<img src="../../public/svg/Photos/robot.png" width="1444px">
	</header>
	
	<div class="main">
		<div class="container">	
		
		<div class="Teachers">
			<h2>Study Program</h2>
			<ul class="nav1">
				<li class="SPL"><a href="SD">Software Development</a></li>
				<li class="SPL"><a href="CS" style="border-bottom: 2px solid #FF8D95;">Computer Science</a></li>
				<li class="SPL"><a href="MIT">Management in IT</a></li>
				<li class="SPL"><a href="FI">Finance</a></li>
			</ul>
			
			<table class="S_P_P" style="margin-bottom:130px;">
				<tr>
					<th>
						<a href="#Web-Technology">
							<div class="polaroid">
								<img src="../../public/svg/Photos/sea.jpg" width="260px" height="158px" style="border-top-right-radius: 5px; border-top-left-radius: 5px">
								<div class="short_info">
  									<p>Web-Technology</p>
 	 							</div>
							</div>
						</a>
					</th>
					<th>
						<a href="#Web-Technology">
							<div class="polaroid">
								<img src="../../public/svg/Photos/sea.jpg" width="260px" height="158px" style="border-top-right-radius: 5px; border-top-left-radius: 5px">
								<div class="short_info">
  									<p>Web-Technology</p>
 	 							</div>
							</div>
						</a>
					</th>
					<th>
						<a href="#Web-Technology">
							<div class="polaroid">
								<img src="../../public/svg/Photos/sea.jpg" width="260px" height="158px" style="border-top-right-radius: 5px; border-top-left-radius: 5px">
								<div class="short_info">
  									<p>Web-Technology</p>
 	 							</div>
							</div>
						</a>
					</th>
					<th>
						<a href="#Web-Technology">
							<div class="polaroid">
								<img src="../../public/svg/Photos/sea.jpg" width="260px" height="158px" style="border-top-right-radius: 5px; border-top-left-radius: 5px">
								<div class="short_info">
  									<p>Web-Technology</p>
 	 							</div>
							</div>
						</a>
					</th>
				</tr>
				<tr>
					<td>
						<a href="#Web-Technology">
							<div class="polaroid">
								<img src="../../public/svg/Photos/sea.jpg" width="260px" height="158px" style="border-top-right-radius: 5px; border-top-left-radius: 5px">
								<div class="short_info">
  									<p>Web-Technology</p>
 	 							</div>
							</div>
						</a>
					</td>
					<td>
						<a href="#Web-Technology">
							<div class="polaroid">
								<img src="../../public/svg/Photos/sea.jpg" width="260px" height="158px" style="border-top-right-radius: 5px; border-top-left-radius: 5px">
								<div class="short_info">
  									<p>Web-Technology</p>
 	 							</div>
							</div>
						</a>
					</td>
					<td>
						<a href="#Web-Technology">
							<div class="polaroid">
								<img src="../../public/svg/Photos/sea.jpg" width="260px" height="158px" style="border-top-right-radius: 5px; border-top-left-radius: 5px">
								<div class="short_info">
  									<p>Web-Technology</p>
 	 							</div>
							</div>
						</a>
					</td>
					<td>
						<a href="#Web-Technology">
							<div class="polaroid">
								<img src="../../public/svg/Photos/sea.jpg" width="260px" height="158px" style="border-top-right-radius: 5px; border-top-left-radius: 5px">
								<div class="short_info">
  									<p>Web-Technology</p>
 	 							</div>
							</div>
						</a>
					</td>
				</tr>
			</table>
		</div>

		<div class="Teachers">
			<img src="../../public/svg/Photos/sea.jpg" width="536px" height="358px" style="float: right; border-radius: 5px">
			<div class="info">
				<center>
					<p>PROFESSION STAFF</p>
					<h3>Teachers</h3>
					<img src="../../public/svg/Photos/sea.jpg" width="143px" height="143px" style="border-radius: 50%;">
					<h4>Zhuanyshev Ilyas</h4>
					<p>senior-lecture</p>
					<p>Lorem ipsum what should I write Our country is very polite nation Meal is the productive</p>
				</center>
			</div>
		</div>


		<h2 style="margin-top:165px; margin-bottom: 53px;">Blogs</h2>
		<div class="Blog">
			<ul class="hey">
				<li><a href="">
					<div class="blog_divs" style="border-left: 2px solid #FF8D95">
					<div class="blog_photo" style="max-height: 108px;">
						<img src="../../public/svg/Photos/sea.jpg" width="184" height="108" style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;">
						<div class="short_info_blog">
  							<h4>The new coming events</h4>
  							<p>Lorem ipsum continue the text is provided more vocabulary learning</p>
 	 					</div>
 	 				</div>
				</div>
				<h5>03.03.2019</h5>
				<p>by Zhomart</p>
				</a>
				</li>

				<li style="padding-bottom: 20px;"><a href="">
					<div class="blog_divs" style="border-left: 2px solid #EDEDED">
					<div class="blog_photo" style="max-height: 108px;">
						<img src="../../public/svg/Photos/sea.jpg" width="184" height="108" style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;">
						<div class="short_info_blog">
  							<h4>The new coming events</h4>
  							<p>Lorem ipsum continue the text is provided more vocabulary learning</p>
 	 					</div>
 	 				</div>
				</div>
				<h5>03.03.2019</h5>
				</a>
				</li>

				<li><a href="">
					<div class="blog_divs" style="border-left: 2px solid #EDEDED">
					<div class="blog_photo" style="max-height: 108px;">
						<img src="../../public/svg/Photos/sea.jpg" width="184" height="108" style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;">
						<div class="short_info_blog">
  							<h4>The new coming events</h4>
  							<p>Lorem ipsum continue the text is provided more vocabulary learning</p>
 	 					</div>
 	 				</div>
				</div>
				<h5>03.03.2019</h5>
				</a>
				</li>
			</ul>
		</div>
	</div>


		<div class="Feedback">
			<img src="../../public/svg/Photos/text_iitu.png" id="text_iitu">
			<div class="container">
			<div class="feedback_form">
				<h2>Feedback</h2>
				<p>Leave your contact, we call you back</p>
				<form>
					<input type="text" name="name" placeholder="Name"><br><br>
					<input type="num" name="tel" placeholder="Telephone"><br><br>
					<button name="click">Leave a contact</button>
				</form>
			</div>
			</div>
		</div>
</div>
	<footer>
		<div class="container">
			<div class="f_content">
				<table class="foo">
					<tr>
						<th class="foo_1" style="padding-left: 0px; ">International Information Technology University</th>
						<th class="foo_1"><a href="">Study Program</a></th>
						<th class="foo_1"><a href="">Pages</a></th>
						<th class="foo_1"><a href="">Contact Us</a></th>
					</tr>
					<tr>
						<td class="foo_2" style="padding-left: 0px;">Lorem ipsum continue the text is provided more vocabulary learning Lorem ipsum continue the text is provided more vocabulary</td>
						<td class="foo_2"><a href="">Software Development</a></td>
						<td class="foo_2"><a href="">Homes</a></td>
						<td class="foo_2">If you have trouble, write to us</td>
					</tr>
					<tr>
						<td class="foo_2"></td>
						<td class="foo_2"><a href="">Computer Science</a></td>
						<td class="foo_2"><a href="">About Us</a></td>
						<td class="foo_2"><a href="" style="color: #FF8D95">email: suport@iitu.kz</a></td>
					</tr>
					<tr>
						<td class="foo_2"></td>
						<td class="foo_2"><a href="">Finance</a></td>
						<td class="foo_2"><a href="">Study Program</a></td>
					</tr>
					<tr>
						<td class="foo_2"></td>
						<td class="foo_2"><a href="">Management</a></td>
						<td class="foo_2"><a href="">Blog</a></td>
					</tr>
					<tr>
						<td class="foo_2"></td>
						<td class="foo_2"><a href="">Radio & Telecomunnication</a></td>
						<td class="foo_2"><a href="">Support</a></td>
					</tr>
				</table>
			</div>
		</div>
	</footer>
</body>
</html>