<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../../public/css/home.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans" />
</head>
<body>
	<header>
		<div class="container">
			<img src="../../public/svg/Photos/logo_iitu.png" id="logo_iitu">
			
			<table class="sha">
				<tr>
					<th>Call Us</th>
					<th>E-mail</th>
					<th>Location</th>
				</tr>
				<tr>
					<td>+7 (705) 867 78 78</td>
					<td>iitu@iitu.kz</td>
					<td>Almaty, Zhandosova</td>
				</tr>
			</table>
			<nav>
				<ul>
					<li><a href="#home" style="color: #FF8D95;">Home</a></li>
					<li><a href="#s_p">Study Program</a></li>
					<li><a href="#blog">Blog</a></li>
					<li><a href="#about us">About Us</a></li>
					<li style="float:right;"><a class="apply" href="apply">Apply</a></li>
				</ul>
			</nav>
			<div>
				<h1>Study with us</h1>
				<p class="text_1">Our university is the modern way to learn programming</p>
				<center><a href="#apply" class="apply1">APPLY</a></center>
			</div>
		</div>
	</header>
	<img src="../../public/svg/Photos/robot.png" width="1444px">
	<div class="main">
		<div class="container">
		</div>
	</div>
	
	<footer>
		<div class="container">
		</div>
	</footer>
</body>
</html>