<!DOCTYPE html>
<html>
<head>
	<title>Study Programs</title>
	<link rel="stylesheet" type="text/css" href="../../public/css/blog.css">
	<link rel="stylesheet" type="text/css" href="../../public/css/study.css">
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header>
		<div class="container">
			<img src="../../public/svg/Photos/logo_iitu.png" id="logo_iitu">
			<table class="sha">
				<tr>
					<th>Call Us</th>
					<th>E-mail</th>
					<th>Location</th>
				</tr>
				<tr>
					<td>+7 (705) 867 78 78</td>
					<td>iitu@iitu.kz</td>
					<td>Almaty, Zhandosova</td>
				</tr>
			</table>

			<nav>
				<ul class="nav">
					<li class="NavList"><a href="home.html">Home</a></li>
					<li class="NavList"><a href="#s_p" style="color: #FF8D95;">Study Program</a></li>
					<li class="NavList"><a href="blog.html">Blog</a></li>
					<li class="NavList"><a href="aboutUs.html">About Us</a></li>
					<li class="NavList" style="float:right;"><a class="apply" href="apply.html">Apply</a></li>
				</ul>
			</nav>
		</div>
	</header>
	
	<div class="main">
		<div class="container">
					<div>
			<h2>Study Program</h2>
			<ul class="nav1">
				<li class="SPL"><a href="SD">Software Development</a></li>
				<li class="SPL"><a href="CS" style="border-bottom: 2px solid #FF8D95;">Computer Science</a></li>
				<li class="SPL"><a href="MIT">Management in IT</a></li>
				<li class="SPL"><a href="FI">Finance</a></li>
			</ul>
			
			<table class="S_P_P" style="margin-bottom:130px;">
				<tr>
					<td>
						<a href="study_cont.html">
							<div class="polaroid">
								<img src="../../public/svg/Photos/sea.jpg" width="260px" height="158px" style="border-top-right-radius: 5px; border-top-left-radius: 5px">
								<div class="short_info">
  									<p>Web-Technology</p>
 	 							</div>
							</div>
						</a>
					</td>
					<td>
						<a href="study_cont.html">
							<div class="polaroid">
								<img src="../../public/svg/Photos/sea.jpg" width="260px" height="158px" style="border-top-right-radius: 5px; border-top-left-radius: 5px">
								<div class="short_info">
  									<p>Visual Arts</p>
 	 							</div>
							</div>
						</a>
					</td>
					<td>
						<a href="study_cont.html">
							<div class="polaroid">
								<img src="../../public/svg/Photos/sea.jpg" width="260px" height="158px" style="border-top-right-radius: 5px; border-top-left-radius: 5px">
								<div class="short_info">
  									<p>Civil Engineering</p>
 	 							</div>
							</div>
						</a>
					</td>
				</tr>
				<tr>
					<td>
						<a href="study_cont.html">
							<div class="polaroid">
								<img src="../../public/svg/Photos/sea.jpg" width="260px" height="158px" style="border-top-right-radius: 5px; border-top-left-radius: 5px">
								<div class="short_info">
  									<p>HCI</p>
 	 							</div>
							</div>
						</a>
					</td>
					<td>
						<a href="study_cont.html">
							<div class="polaroid">
								<img src="../../public/svg/Photos/sea.jpg" width="260px" height="158px" style="border-top-right-radius: 5px; border-top-left-radius: 5px">
								<div class="short_info">
  									<p>IELTS</p>
 	 							</div>
							</div>
						</a>
					</td>
					<td>
						<a href="study_cont.html">
							<div class="polaroid">
								<img src="../../public/svg/Photos/sea.jpg" width="260px" height="158px" style="border-top-right-radius: 5px; border-top-left-radius: 5px">
								<div class="short_info">
  									<p>Software Development</p>
 	 							</div>
							</div>
						</a>
					</td>
				</tr>
								<tr>
					<td>
						<a href="study_cont.html">
							<div class="polaroid">
								<img src="../../public/svg/Photos/sea.jpg" width="260px" height="158px" style="border-top-right-radius: 5px; border-top-left-radius: 5px">
								<div class="short_info">
  									<p>Information theory</p>
 	 							</div>
							</div>
						</a>
					</td>
					<td>
						<a href="study_cont.html">
							<div class="polaroid">
								<img src="../../public/svg/Photos/sea.jpg" width="260px" height="158px" style="border-top-right-radius: 5px; border-top-left-radius: 5px">
								<div class="short_info">
  									<p>Program Technology</p>
 	 							</div>
							</div>
						</a>
					</td>
					<td>
						<a href="study_cont.html">
							<div class="polaroid">
								<img src="../../public/svg/Photos/sea.jpg" width="260px" height="158px" style="border-top-right-radius: 5px; border-top-left-radius: 5px">
								<div class="short_info">
  									<p>Web-Technology</p>
 	 							</div>
							</div>
						</a>
					</td>
				</tr>
			</table>
		</div>
		</div>
	</div>
	

	<footer>
		<div class="container">
			<div class="f_content">
				<table class="foo">
					<tr>
						<th class="foo_1" style="padding-left: 0px; ">International Information Technology University</th>
						<th class="foo_1"><a href="">Study Program</a></th>
						<th class="foo_1"><a href="">Pages</a></th>
						<th class="foo_1"><a href="">Contact Us</a></th>
					</tr>
					<tr>
						<td class="foo_2" style="padding-left: 0px;">Lorem ipsum continue the text is provided more vocabulary learning Lorem ipsum continue the text is provided more vocabulary</td>
						<td class="foo_2"><a href="">Software Development</a></td>
						<td class="foo_2"><a href="">Homes</a></td>
					 	<td class="foo_2">If you have trouble, write to us</td>
					</tr>
					<tr>
						<td class="foo_2"></td>
						<td class="foo_2"><a href="">Computer Science</a></td>
						<td class="foo_2"><a href="">About Us</a></td>
						<td class="foo_2"><a href="" style="color: #FF8D95">email: suport@iitu.kz</a></td>
					</tr>
					<tr>
						<td class="foo_2"></td>
						<td class="foo_2"><a href="">Finance</a></td>
						<td class="foo_2"><a href="">Study Program</a></td>
					</tr>
					<tr>
						<td class="foo_2"></td>
						<td class="foo_2"><a href="">Management</a></td>
						<td class="foo_2"><a href="">Blog</a></td>
					</tr>
					<tr>
						<td class="foo_2"></td>
						<td class="foo_2"><a href="">Radio & Telecomunnication</a></td>
						<td class="foo_2"><a href="">Support</a></td>
					</tr>
				</table>
			</div>
		</div>
	</footer>
</body>
</html>