body {
	font-family: "PT Sans";
	font-weight: normal;
  margin: 0;
  background: linear-gradient(to top left, rgba(162, 230, 255, 0.36), rgba(248, 169, 169, 0.36));
}
header{
  /*background: linear-gradient(to top left, #A2E6FF 0%, #F8A9A9 100%);*/
}
.container {
  	width: 100%;
  	max-width: 1088px;
  	padding: 0 15px;
  	margin: 0 auto;
}
/*Logo======================================================================================================================================================*/
#logo_iitu{
	margin-top: 8.36px;
	float: left;
}
/* Header with information===================================================================================================================================*/
table{
	margin-top: 15px; 
	margin-bottom: 9px;
	float: right;
}
th,td{
	text-align: left;
	padding-left: 15px; 
}
/*Navbar======================================================================================================================================================*/
ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #FFFFFF;
  	width: 100%;
  	border-radius: 5px;
  	box-shadow: 0px, 4px, 10px, #525151;
}
li {
  	float: left;
}
li a {
  	display: block;
  	color: #343434;
  	text-align: center;
  	padding: 22px 30px 20px 34px;
  	text-decoration: none;
}

.apply{
  background-color: #FF8D95;
  font-weight: bold;
  color: #FFFFFF;
  margin-right: 19px;
  margin-top: 9px; 
  padding: 12px 25px; 
  border-radius: 5px;
}
/*Content Page with Slider========================================================================================================================================*/
h1{
  text-align: center;
  font-size: 60px;
  margin-top: 120px; 
  margin-bottom: -8px;  
}
.text_1{
  font-size: 20px;
  text-align: center;  
  padding-bottom: 25px; 
}
.apply1{
  background-color: #FF8D95;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 20px;
  padding: 12px 100px; 
  border-radius: 5px;
  text-decoration: none;
}
