body {
	font-family: "PT Sans";
	font-weight: normal;
  margin: 0;
}
header{
  /*background: linear-gradient(to top left, #A2E6FF 0%, #F8A9A9 100%);*/
  background: linear-gradient(to top left, rgba(162, 230, 255, 0.36), rgba(248, 169, 169, 0.36));
}
.container {
  	width: 100%;
  	max-width: 1088px;
  	padding: 0 15px;
  	margin: 0 auto;
}
a{
  text-decoration: none;
  color: #343434;
}
/*Logo======================================================================================================================================================*/
#logo_iitu{
	margin-top: 8.36px;
	float: left;
}
/* Header with information===================================================================================================================================*/
.sha {
	margin-top: 15px; 
	margin-bottom: 9px;
	float: right;
}
.sha tr,th,td{
	text-align: left;
	padding-left: 15px; 
}
/*Navbar======================================================================================================================================================*/
.nav {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #FFFFFF;
  	width: 100%;
  	border-radius: 5px;
  	box-shadow: 0px, 4px, 10px, #525151;
}
.NavList {
  	float: left;
}
.NavList a {
  	display: block;
  	color: #343434;
  	text-align: center;
  	padding: 22px 30px 20px 34px;
  	text-decoration: none;
}

.NavList .apply{
  background-color: #FF8D95;
  font-weight: bold;
  color: #FFFFFF;
  margin-right: 19px;
  margin-top: 9px; 
  padding: 12px 25px; 
  border-radius: 5px;
}
/*Slider========================================================================================================================================*/
h1{
  text-align: center;
  font-size: 60px;
  margin-top: 120px; 
  margin-bottom: -8px;  
}
.text_1{
  font-size: 20px;
  text-align: center;  
  padding-bottom: 25px; 
}
.apply1{
  background-color: #FF8D95;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 20px;
  padding: 12px 100px; 
  border-radius: 5px;
  text-decoration: none;
}
/*Content========================================================================================================================================*/
.main{
  margin-top: 75px; 
  margin-bottom: 232.5px;
}
h2{
  text-align: center;
  font-size: 30px;
}
  /*Navbar 2 for study programs========================================================================================================================================*/
.nav1{
    list-style-type: none;
    margin-left: 221px;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
.SPL{
  float: left;
}
.SPL a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #343434;
    padding: 15px 25px;
    border-bottom: 2px solid #EDEDED;
}
  /*Photos with short info about program div====================================================================================================================*/
  .polaroid{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; 
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .short_info{ 
    font-weight: bold;
    margin-left: 30px;
    padding-bottom: 1px;
  }
  .S_P_P th{
    padding-bottom: 38px; 
  }
  /* Teachers divs====================================================================================================================*/
  .info{
    max-width: 332px;
    margin-left: 92px; 
    border-bottom: 2px solid #EDEDED;
  }
  .info p{
    font-size: 14px;
  }
  /* Blogs divs====================================================================================================================*/
  .Blog{
    margin-left: 92px; 
  }
  .blog_divs{
    max-height: 108px;
    margin-right: 151px; 
    padding-left: 76px;
    float: right;
    padding-bottom: 20px;
  }
  .blog_photo{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
  }
  .short_info_blog{
    float: right;
    margin-left: 29px 
  }
  .hey{
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
  }
  /* Blogs divs====================================================================================================================*/
  .Feedback{
    margin-top: 363px;
    margin-left: 200px;
  }
  .feedback_form{
    max-width: 245px;
    max-height: 236px;
  }
  .feedback_form input{
    border-radius: 5px;
    border: 1px solid #E6E5E5;
    width: 222px;
    height: 40px;
    padding-left: 23px; 
    font-size: 14px;
  }
  .feedback_form p{
    text-align: center;
  }
  .feedback_form button{
    border-radius: 5px;
    background-color: #FF8D95;
    color: #FFFFFF;
    width: 247px;
    height: 40px;
    border: 1px solid #FF8D95;
    font-size: 16px;
    font-weight: bold;
  }
  #text_iitu{
    float: right; 
  }

  /* Footer====================================================================================================================*/

  .f_content{
    border-top: 2px solid #E6E5E5;
  }
  .foo{
    margin-top:26px; 
    margin-bottom: 81px;
  }
  .foo_1{
    padding: 0px 72px 0px 40px;
  }

  .foo_2{
    padding: 0px 72px 0px 40px;
  }

  